<!DOCTYPE html>
<html ng-app="sikre">
    <head itemscope itemtype="//schema.org/WebPage">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="initial-scale=1">
        <title>Sikre: The secure password tool</title>
        <meta name="description" content="Sikre is an online password vault for storing your passwords. It features high security encryption systems and it's open source." />
        <meta name="keywords" content="sikre, passwords, storing, security encryption, high security, security encryption systems, systems open, encryption systems, vault, online, open, systems, security, source, high, password, features, encryption" />

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name " content="Sikre: The secure password tool">
        <meta itemprop="description " content="Sikre is an online password vault for storing your passwords. It features high security encryption systems and it's open source.">
        <meta itemprop="image " content=" {{social_image}} ">

        <!-- Twitter Card data -->
        <meta name="twitter:card " content="Sikre is an online password vault for storing your passwords. It features high security encryption systems and it's open source.">
        <meta name="twitter:site " content=" ">
        <meta name="twitter:title " content="Sikre: The secure password tool">
        <meta name="twitter:description " content="Sikre is an online password vault for storing your passwords. It features high security encryption systems and it's open source.">
        <meta name="twitter:creator " content="">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src " content=" {{social_image}} ">

        <!-- Open Graph data -->
        <meta property="og:title " content="Sikre: The secure password tool" />
        <meta property="og:type " content="  " />
        <meta property="og:url " content=" {{site_url}} " />
        <meta property="og:image " content=" {{social_image}} " />
        <meta property="og:description " content="Sikre is an online password vault for storing your passwords. It features high security encryption systems and it's open source." />
        <meta property="og:site_name " content="  " />
        <meta property="fb:admins " content="Facebook numberic ID" />
        <link rel="icon" type="image/png" href="/static/images/favicon.png" />
        <!-- Stylesheets -->
        <link async rel="stylesheet" href="/static/css/app.css" type="text/css" />
        <!-- <link rel="stylesheet" href="/static/css/fonts.css" type="text/css" /> -->

        <link async href='//fonts.googleapis.com/css?family=Roboto:400,300,100|Signika:400' rel='stylesheet' type='text/css'>
        <!-- Header JS -->
        <!--<script src="/static/js/modernizr.min.js"></script>-->
    </head>

    <body>

        <div class="row">
            <div id="addItem" class="reveal-modal medium" data-reveal>
                <p class="lead">Create new...</p>
                <ul class="tabs addmodal" data-tab role="tablist">
                    <li class="tab-title active" role="presentational" ><a href="#panel998-1" role="tab" tabindex="0" aria-selected="true" controls="panel998-1">Group</a></li>
                    <li class="tab-title" role="presentational" ><a href="#panel998-2" role="tab" tabindex="0"aria-selected="false" controls="panel998-2">Item</a></li>
                </ul>
                <div class="tabs-content">
                    <section role="tabpanel" aria-hidden="false" class="content active" id="panel998-1">
                        <form name="newGroup" ng-controller="GroupsCtrl">
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <label>Name
                                        <input type="text" placeholder="Insert a name here" name="name" ng-model="group.name" />
                                    </label>
                                </div>
                            </div>
                            <button class="button tiny" ng-click="addgroup(group)">Save</button>
                        </form>
                    </section>
                    <section role="tabpanel" aria-hidden="true" class="content" id="panel998-2">
                        <form name="newItem" ng-controller="ItemsCtrl">
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <label>Name
                                        <input type="text" placeholder="Insert a name here" name="name" ng-model="item.name" />
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <label>Description
                                        <textarea rows="5" placeholder="Insert the description" name="description" ng-model="item.description"></textarea>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <label>Group <span data-tooltip aria-haspopup="true" class="has-tip" title="Select the group that this item will belong to."><i class="fi-info"></i></span>
                                        <select ng-model="item.group" ng-click="getitemgroups()">
                                            <option value="{{ group.id }}" ng-repeat="group in groupList">{{ group.name }}</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <label>Tags
                                        <input type="text" placeholder="Insert your tags, separated by a comma with no spaces" name="tags" ng-model="item.tags" />
                                    </label>
                                </div>
                            </div>
                            <input type="submit" class="button tiny" ng-click="additem(item)" value="Save" />
                        </form>
                    </section>
                </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>
        </div>

        <div class="row">
            <div id="addObject" class="reveal-modal medium" data-reveal>
                <p class="lead">Create a new service</p>
                <form id="newService" ng-controller="ServiceCtrl">
                    <div class="row">
                        <div class="small-12 large-12 columns">
                            <label>Service name
                                <input type="text" placeholder="Insert a name here (optional)" name="name" ng-model="service.name" />
                            </label>
                        </div>
                        <input id="serviceItem" type="text" class="hidden" name="item" ng-model="service.item" />
                    </div>
                    <ul class="tabs addmodal" data-tab role="tablist">
                        <li class="tab-title active" role="presentational" ><a href="#panel99-1" role="tab" tabindex="0" aria-selected="true" controls="panel99-1">SSH Key</a></li>
                        <li class="tab-title" role="presentational" ><a href="#panel99-2" role="tab" tabindex="0"aria-selected="false" controls="panel99-2">SSL file</a></li>
                        <li class="tab-title" role="presentational"><a href="#panel99-3" role="tab" tabindex="0" aria-selected="false" controls="panel99-3">Password</a></li>
                    </ul>
                    <div class="tabs-content">
                        <section role="tabpanel" aria-hidden="false" class="content active" id="panel99-1">
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <label>Title
                                        <input type="text" placeholder="Insert a name for your key here" name="ssh_title" ng-model="service.ssh_title" />
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <label>Private Key
                                        <textarea rows="5" placeholder="Insert the contents of your key files here" name="ssh_private" ng-model="service.ssh_private"></textarea>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <label>Public Key
                                        <textarea rows="5" placeholder="Insert the contents of your public key here" name="ssh_public" ng-model="service.ssh_public"></textarea>
                                    </label>
                                </div>
                            </div>
                        </section>
                        <section role="tabpanel" aria-hidden="true" class="content" id="panel99-2">
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <label>Title
                                        <input type="text" placeholder="Insert a name for your SSL file here" name="ssl_title" ng-model="service.ssl_title"/>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <label>SSL file (.pfx, .cer, .crt, .key and .rsa extensions allowed)
                                        <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
                                    </label>
                                </div>
                            </div>
                        </section>
                        <section role="tabpanel" aria-hidden="true" class="content" id="panel99-3">
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <div class="row collapse">
                                        <label>URL / IP / Hostname</label>
                                        <div class="small-9 columns">
                                            <input type="text" placeholder="Insert an URL, IP address or hostname" name="url" ng-model="service.url" />
                                        </div>
                                        <div class="small-3 columns">
                                            <span class="postfix">
                                                <input type="text" placeholder="Port" name="port" ng-model="service.port" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <label>Username
                                        <input type="text" placeholder="Username" name="username" ng-model="service.username" />
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <label>Password
                                        <input type="text" placeholder="Password" name="password" ng-model="service.password" />
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <label>Extra information
                                        <textarea rows="5" placeholder="Write here any extra information that you want to add" name="extra" ng-model="service.extra"></textarea>
                                    </label>
                                </div>
                            </div>

                        </section>
                    </div>
                    <button class="button tiny" ng-click="addservice(service)">Save</button>
                    <a class="close-reveal-modal">&#215;</a>
                </form>
            </div>
        </div>

        <div class="off-canvas-wrap" ng-controller="GroupsCtrl" data-offcanvas>
            <div class="inner-wrap">
                <nav class="tab-bar">
                    <section class="left-small">
                        <a class="left-off-canvas-toggle" href="#" ng-click="getgroups()">
                            <i class="fi-list-thumbnails"></i>
                        </a>
                    </section>

                    <section class="middle tab-bar-section">
                        <button href="#" class="button tiny additem" data-reveal-id="addItem"><i class="fi-plus"></i></button>
                        <div class="large-4 small-9 columns">
                            <input type="text" class="radius" style="margin-top: 4px" ng-model="itemFilter" ng-click="getAllItems()" placeholder="Search...">
                        </div>
                        <h1 class="title">Sikr.io</h1>
                    </section>
                </nav>

                <aside class="left-off-canvas-menu">
                    <ul class="off-canvas-list" ng-controller="AuthCtrl">
                        <li><label>Me</label></li>
                        <!-- <li><a href="#">Profile</a></li> -->
                        <li ng-if="!isAuthenticated()"><a href="/login.html">Login</a></li>
                        <li ng-if="isAuthenticated()"><a href="#" ng-click="logout()">Logout</a></li>
                    </ul>
                    <ul class="off-canvas-list">
                        <li ng-init="getgroups()"><label>Groups</label></li>
                        <li ng-repeat="group in groupList">
                            <a href="#" ng-click="getItems(group.id)">{{ group.name }}</a>
                        </li>
                        <li><a href="#" ng-click="getAllItems()">Show all items</a></li>
                    </ul>
                    <div class="off-canvas-footer">
                        &copy; 2014-2015<br>
                        <a href="http://clione.io" target="_blank">Clione Software</a><br>
                        <a href="http://havasworldwide.co.uk" target="_blank">Havas Worldwide London</a>
                    </div>
                </aside>

                <section class="main-section" item-list></section>

                <a class="exit-off-canvas"></a>
            </div>
        </div>

        <!-- Footer JS -->
        <script async src="/static/js/app.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-43195813-4', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
