<!DOCTYPE html>
<html ng-app="sikre">
    <head itemscope itemtype="http://schema.org/WebPage">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="initial-scale=1">
        <title>Sikre: The secure password tool</title>
        <meta name="description" content="Sikre is an online password vault for storing your passwords. It features high security encryption systems and it's open source." />
        <meta name="keywords" content="sikre, passwords, storing, security encryption, high security, security encryption systems, systems open, encryption systems, vault, online, open, systems, security, source, high, password, features, encryption" />

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name " content="Sikre: The secure password tool">
        <meta itemprop="description " content="Sikre is an online password vault for storing your passwords. It features high security encryption systems and it's open source.">
        <meta itemprop="image " content=" {{social_image}} ">

        <!-- Twitter Card data -->
        <meta name="twitter:card " content="Sikre is an online password vault for storing your passwords. It features high security encryption systems and it's open source.">
        <meta name="twitter:site " content=" ">
        <meta name="twitter:title " content="Sikre: The secure password tool">
        <meta name="twitter:description " content="Sikre is an online password vault for storing your passwords. It features high security encryption systems and it's open source.">
        <meta name="twitter:creator " content="">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src " content=" {{social_image}} ">

        <!-- Open Graph data -->
        <meta property="og:title " content="Sikre: The secure password tool" />
        <meta property="og:type " content="  " />
        <meta property="og:url " content=" {{site_url}} " />
        <meta property="og:image " content=" {{social_image}} " />
        <meta property="og:description " content="Sikre is an online password vault for storing your passwords. It features high security encryption systems and it's open source." />
        <meta property="og:site_name " content="  " />
        <meta property="fb:admins " content="Facebook numberic ID" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/static/css/app.css" type="text/css" />
        <!-- <link rel="stylesheet" href="/static/css/fonts.css" type="text/css" /> -->

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100|Signika:400' rel='stylesheet' type='text/css'>
        <!-- Header JS -->
        <script src="/static/js/modernizr.min.js"></script>
    </head>

    <body>
        <div class="login-panel" ng-controller="LoginCtrl">
            <div class="row">
                <img class="logo" src="/static/images/havaslogo.jpg" />
            </div>
            <form action="http://localhost:8080/auth/login" method="post">
                <div class="row">
                    <div class="small-offset-2 small-8 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-2 columns">
                                <span class="prefix"><i class="fi-at-sign"></i></span>
                            </div>
                            <div class="small-10 columns">
                                <input type="text" name="login-email" placeholder="E-Mail" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-offset-2 small-8 columns">
                        <div class="row collapse prefix-radius">
                            <div class="small-2 columns">
                                <span class="prefix"><i class="fi-key"></i></span>
                            </div>
                            <div class="small-10 columns">
                                <input type="password" name="login-password" placeholder="Password" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-offset-2 small-8 columns">
                    <div class="row collapse">
                        <div class="small-10 columns tinytext">
                            <a href="#">forgot your password?</a>
                        </div>
                        <div class="small-2 columns">
                            <input type="submit" class="button tiny radius" value="Go" />
                        </div>
                    </div>
                </div>
                <div class="row center"><br>
                    <div class="small-12 columns login-title">
                        <p>...or use a social login (it's safer! <a href="/safetyfirst.html">why?</a>)</p>
                    </div>
                </div>
                <div class="row center">
                    <div class="small-12 columns">
                        <a href="#" ng-click="authenticate('facebook')" alt="Login with Facebook" title="Login with Facebook" class="facebook-login tiny radius"><i class="fi-social-facebook"></i></a>
                        <a href="#" ng-click="authenticate('google')" alt="Login with Google Plus" title="Login with Google+" class="google-login tiny radius"><i class="fi-social-google-plus"></i></a>
                        <a href="#" ng-click="authenticate('linkedin')" alt="Login with LinkedIn" title="Login with LinkedIn" class="linkedin-login tiny radius"><i class="fi-social-linkedin"></i></a>
                        <a href="#" ng-click="authenticate('github')" alt="Login with GitHub" title="Login with GitHub" class="github-login tiny radius"><i class="fi-social-github"></i></a>
                        <a href="#" ng-click="authenticate('twitter')" alt="Login with Twitter" title="Login with Twitter" class="twitter-login tiny radius"><i class="fi-social-twitter"></i></a>
                    </div>
                </div>
            </form>
        </div>

        <div class="footer tinytext">
            <a href="/tcs" alt="Terms and Conditions" title="Terms and Conditions">Terms &amp; Conditions</a> |
            <a href="/privacy" alt="Privacy" title="Privacy">Privacy</a> |
            <a href="http://github.com/clione/sikre" alt="Developers" title="Developers">Developers</a> |
            <a href="http://sikre.readthedocs.org" alt="Documentation" title="Documentation">Documentation</a> |
            Created by: Clione Software
        </div>
        <!-- Footer JS -->
        <script src="/static/js/app.js"></script>
    </body>
</html>
