.accordion-navigation {
    margin: 0 20px;
}

.accordion .accordion-navigation, .accordion dd {
    border: 1px solid #CCC;
    margin: 5px 20px;
}

.accordion .accordion-navigation > a, .accordion dd > a {
    background: #FFF;
}
