.accordion-navigation {
    margin: 0 20px;
}

.accordion .accordion-navigation, .accordion dd {
    border: 1px solid #CCC;
}

.accordion .accordion-navigation > a, .accordion dd > a {
    background: #FFF;
}

.item-container {
    margin-bottom: 15px;
}

.servicedata {
    margin-bottom: 0;
}
