body, html {
    height:100%;
    width:100%;
    //overflow: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-family: 'Signika', sans-serif;
    font-weight: 400;
}

p {
    font-weight: 300;
}

.main-section {
    width: 100%;
}

.row {
    max-width: 100%;
}

.tabs dd.active a, .tabs .tab-title.active a {
    background: #AAA;
}

.addmodal {
    margin-left: 14px;
}

.tinytext {
    font-size: 0.8rem;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    border-top: 1px solid #AAA;
    width: 100%;
    text-align: right;
    padding: 10px;
    color: #AAA;
}
