.hero-section {
    background-image: url("/static/images/indexbg.jpg");
    background-size: cover;
    height: 400px;
}

.top-bar {
    background: #333;
    color: #F5F5F5;
    height: 70px;
    padding: 12px;
}

.top-bar .name {
    width: 500px;
}

.top-bar .name h1 a {
    font-size: 1.6rem;
    color: #F5F5F5;
}

.main-message {
    top: 100px;
    margin: auto;
    position: relative;
    text-align: center;
}

.main-message h1 {
    color: #FFF;
    font-size: 4rem;
}

.main-message p {
    font-size: 1.5rem;
}

.index-page {
    background: #F5F5F5;
    color: #FFF;
}

.index-introducing {
    background: #F5F5F5;
    color: #333;
}

.introduction {
    width: 90%;
    margin: auto;
    color: #666;
}

.index-when {
    background: #333;
}

.index-when * {
    color: #f5f5f5;
}

footer * {
    background: #333;
    font-size: 0.81rem;
    color: #F5F5F5;
}

footer p a {
    margin-left: 15px;
}
