.inner-wrap{
    height: auto;
    min-height: 100%;
}

.off-canvas-wrap{
    height:100%;
    overflow-y: auto;
}

.page{
    height:100%;
}

// Stylize off canvas icons
// .right-off-canvas-toggle i, .left-off-canvas-toggle i {
//     @include scut-center-transform;
// }

a.right-off-canvas-toggle , a.left-off-canvas-toggle {
    color: #CCC;
}

.off-canvas-footer {
    bottom: 0;
    position: absolute;
    color: #666;
    font-size: 0.6rem;
    margin: 10px;
    font-family: sans-serif;

    a {
        color: #666;
        text-decoration: none;
        &:hover { color: #FFF; }
    }
}
