<div id="confirmCategoryDelete" class="reveal-modal medium" data-reveal ng-controller="CategoriesCtrl">
    <h2>Are you sure?</h2>
    <p class="lead">This will delete the category and it's contents</p>
    <p>If you delete the category, it will delete all the items linked to it and all the services as well. You should think about this twice.</p>
    <p><a href="#" class="radius button tiny">Cancel</a> <a href="#" ng-click="deletecategory(category_id)" class="alert button tiny">Go for it!</a></p>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="confirmItemDelete" class="reveal-modal medium" data-reveal ng-controller="ItemsCtrl">
    <h2>Are you sure?</h2>
    <p class="lead">This will delete the items and it's contents</p>
    <p>If you delete the item, all services related to it will be deleted as well. You should think about this twice.</p>
    <p id="itemDeleteButtons"></p>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="shareWith" class="reveal-modal small" data-reveal ng-controller="ShareCtrl">
    <h2>Share with...</h2>
    <p class="lead">Please type the email address of the poerson you want to share this with</p>
    <form name="newShare" ng-controller="ShareCtrl">
        <div class="row">
            <div class="small-12 large-12 columns">
                <label>Email
                    <input type="email" placeholder="Type email address here" name="email" ng-model="share.email">
                    <input type="text" id="shareResource" class="hidden" name="resource" ng-model="share.resource">
                    <input type="text" id="shareResourceID" class="hidden" name="resource_id" ng-model="share.resource_id">
                </label>
                <button class="button tiny" ng-click="confirmshare(share)">Share!</button>
            </div>
        </div>
    </form>
    <p id="itemShareButtons"></p>
    <a class="close-reveal-modal">&#215;</a>
</div>
<h3 style="margin:20px;" ng-if="category_name">{{ category_name }}
    <div ng-switch on="category_name">
        <div ng-switch-when="All"></div>
        <div ng-switch-default>
            <a href="#" data-reveal-id="confirmCategoryDelete">
                <i class="fi-trash"></i>
            </a>
            <a href="#" ng-controller="ShareCtrl" ng-click="addshare('0', category_id)">
                <i class="fi-share"></i>
            </a>
        </div>
    </div>
</h3>
<div class="row">
    <ul class="accordion" data-accordion>
        <li class="accordion-navigation item-container" ng-repeat="item in items | filter: itemFilter" ng-controller="ItemsCtrl">
            <a href="#panel{{$index}}">{{ item.name }}</a>
            <div class="toolbar">
                <a href="#" class="button left toolbar-button addobject" ng-click="createservice(item.id)">
                    <i class="fi-plus"></i>
                </a>
<!--                 <a href="#" class="button left toolbar-button" data-reveal-id="shareWith">
                    <i class="fi-share"></i>
                </a>
                <a href="#" class="button left toolbar-button">
                    <i class="fi-pencil"></i>
                </a> -->
                <a href="#" class="button alert left toolbar-button" ng-click="confirmdeleteitem(item.id)">
                    <i class="fi-trash"></i>
                </a>
            </div>
            <div id="panel{{$index}}" class="content">
                <ul class="tabs" data-tab>
                    <li class="tab-title" ng-class="{active : $first}" ng-repeat="service in item.services">
                        <a href="#panel{{$parent.$index}}-{{$index}}" ng-click="getService(service.id)">{{ service.name }}</a>
                    </li>
                </ul>
                <div class="tabs-content" service-list></div>
                <h3>Information</h3>
                <p>{{ item.description }}</p>
            </div>
        </li>
    </ul>
</div>
